.header{
	background-color:white;
 }

.logo{
    margin: 0 0 0 2px;
    padding: 0px;
    text-align: justify;
    width: 10vw;
    height: 20vh;
    vertical-align: middle;
    /*display: table-cell;*/
    display: flex;
    width: 30%;
}
.nav{
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: left;
}

.nav-detalles{
    display: flex;
    flex-wrap: wrap;
}

.img-banner{
    width: 100%;
}

.productoColumna{
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    width: 20vw;    
}

.productos-destacados{
    color:rgb(5, 5, 5);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /*width: 80vw;
    height: 160px;*/
    flex-direction: row;
    align-items: end;
}

.ofertas-destacadas{
    color:rgb(236, 149, 18);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 100vw;
    height: 160px;    
    flex-direction: row;
    align-items: end;    
}

.texto-destacado{
    color:rgb(236, 149, 18);
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    align-items: end;    
    position: relative;
}

@media (min-width: 460px){
    /*tablet*/
    body {
        background-color: white;
    }
}

@media (min-width: 768px){
    /*laptop*/
    body {
        background-color: white;
    }
}