.header{
	background-color:white;
 }

.logo{
    margin: 0 0 0 2px;
    padding: 0px;
    text-align: justify;
    width: 300px;
    height: 300px;
    vertical-align: middle;
    display: table-cell;
}
.nav{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: left;
}

head {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    font-size:24px;
}
h1 {
    color: blue;
    font-size:24px;
}
#titulo3 {
    color: black;
    font-size:24px;
}
