.titulo{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ff740d;
    font-size: 16px;
    text-align: center;
    box-shadow: 10px 3px #ffc48e;
    background-color: white;
}

label{
    font-size: 16px;
    font-family: emoji;
    text-decoration: underline;
}

.boton{
    text-align: center;
    border-radius: 6px;
    background-color: #ffc48e;
}
  
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.contenedor-boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px #ebebeb solid;
    padding: 5px;
}

.errores{
    color: red;
    border: 1px solid rgba(248, 248, 255, 0.704);
    text-align: left;
    font-size: 15px;
}

.ul{
     list-style-image: linear-gradient(to left bottom, white, red); 
}

main{
    border: 1px solid #ebebeb;
}

fa-check-circle:before, .fa-circle-check:before {
    content: "\f058";
    color: #017f36;
}


@media (min-width: 460px){
    /*tablet*/
.contenedor{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 1px;
    }
}

@media (min-width: 768px){
    /*laptop*/
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 1px;
}
.titulo {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #017f36;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    box-shadow: 10px 3px #b8ddc6;
    background-color: white;
}

.boton{
    text-align: center;
    border-radius: 6px;
    background-color: #017f36;
}
.boton:hover{
    background-color: #ffc48e;
}
}