<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "contactenos"}) %>
    
<body>

    <!-- header -->
    <%- include('./partials/header-navbar.ejs') %>
    <!-- /header -->
    
    <section class="contactenos">
                 <br>
         <div>
            <h1 class="h1">Contactenos</h1>
            <br>
            <section class="formContactenos" >
                <form action="" method="get" enctype="multipart/form-data">
                    <br>
                    <div class="contenedor">
                        <label for="nombre">Nombre</label>                        
                        <input type="text" name ="nombre" id="nombre">
                    </div>
                    <br>
                    <div class="contenedor">
                        <label for="apellido">Apellido</label>                        
                        <input type="text" name ="apellido" id="apellido">
                    </div>
                    <br>
                    <div class="contenedor">
                        <input type="submit" value="Enviar Contacto">
                    </div>
                </form>

            </section>
         
         </div>
    </section>
    <br>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>