<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "contactenos"}) %>
    
<body>

    <!-- header -->
    <%- include('./partials/header-navbar.ejs') %>
    <!-- /header -->
    
    <section class="contactenos">
                 <br>
         <div>
            <h1 class="h1">Estamos para escucharte y ayudarte</h1>
            <br>
            <section class="formContactenos" >
                <form action="" method="get" enctype="multipart/form-data">

                    <br>
                    <div class="contenedor">
                        <label for="nombre">Email</label>                        
                        <input type="email" name ="email" id="email">
                    </div>

                    <br>
                    <div class="contenedor">
                    <label> 
                    <textarea style="width: 390px; height: 126px;" placeholder="Tus comentarios nos ayudan a brindarte un mejor servicio para que nos sigas eligiendo todos los días. Dejanos tu consulta y comunicate con nosotros."></textarea></label>  
                    </div>
                
                    <br>
                    <div class="contenedor">
                            <button type="submit" class="boton">Enviar consulta</button>
                    </div>
                </form>

            </section>
         
         </div>
    </section>
    <br>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>