<!DOCTYPE html>
<html lang="en">
<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/estilos.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
</head>
<body>
<header class="header"> 
<img class ="logo" src = "/img/logo-proyecto.jpg">
<p> Compra en cuotas y sin tarjeta de créditos </p>
<nav class="nav"> 
   <ul> 
    <a href="#">Categorías</a>
    <a href="#">Ofertas</a>
    <a href="#">Ofertas destacadas</a>
    <a href="contacto.html">Contacto</a>
   </ul>
</nav>
</header>
<br>
<main>
    <section class="productos-destacados">  
        <div>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                uno
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                dos
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>            
        <div>  
    </section>  
    <section class="texto-destacado">  
        <h1>Ofertas destacadas</h1>
    </section>
    <section class="ofertas-destacadas">  
        <div>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                uno
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                dos
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>
            <span>
                <img src = "/img/cafe dolca.jpg"></div>
                tres
            </span>            
        </div>  

        <article> </article>
    </section>
</main>
<footer>

</footer>
</body>
</html>