<!DOCTYPE html>
<html lang="en">
<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/estilos.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header class="header"> 
    <div class="compra">
        <img class ="logo" src = "/img/logo-proyecto.jpg">
        <br>
    <div>
        <input class="barra-navegacion" type="search" placeholder="que estás buscando?"> 
        <button class="boton-buscar"> <i class="fa-solid fa-magnifying-glass"></i> </button> 
    </div>    
    <i class="fa-solid fa-user"></i>
    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
    </div>
        <br>


<hr />
    <nav class="nav"> 
        <div class="nav-detalles">
    <ul type="none"> 
        <li> <a href="#">Categorías</a> </li>
        <li> <a href="#">Ofertas</a> </li>
        <li> <a href="#">Ofertas destacadas</a> </li>
        <li> <a href="contacto.html">Contacto</a> </li> 
    </ul>
        </div>
</nav>
<hr/>

    <img src="/img/banner-dto.jpg" class="img-banner">
    <br>
    <br>
<main>
    <section> 
        <h2 class="nombre-seccion"> 50% off en alimentos congelados </h2>  

        <article>
                <img class="img-oferta" src="/img/Oferta-50.jpg">
        </article>


   <div class="div-ofertas">
        <article>
            <img class="img-oferta2" src ="/img/patitas-pollo.jpg">
            <div class="div-precio">
                <h3 class="productos">Patitas de pollo <br>"Granja del sol"</h3> 
            </div>
            <br>
            <div class="div-ofertas1">
                <p class="precio">$700<p>
                <p class="precio-queda">$350 la 2da unidad</p>
            </div>
            <button class= "boton-carrito">AÑADIR AL CARRITO</button>
            <br>
            <br>
        </article>
   </div>

   <div class="div-ofertas">
    <article>
        <img class="img-oferta2" src ="/img/hamburguesa.jpg">
        <div class="div-precio">
            <h3 class="productos">Hamburguesas<br>"Paladini"</h3> 
        </div>
        <br>
        <div class="div-ofertas1">
            <p class="precio">$500<p>
            <p class="precio-queda">$250 la 2da unidad</p>
        </div>
        <button class= "boton-carrito">AÑADIR AL CARRITO</button>
        <br>
        <br>
    </article>
</div>

<div class="div-ofertas">
    <article>
        <img class="img-oferta2" src ="/img/arvejas.jpg">
        <div class="div-precio">
            <h3 class="productos">Arvejas<br>"Granja del sol"</h3> 
        </div>
        <br>
        <div class="div-ofertas1">
            <p class="precio">$800<p>
            <p class="precio-queda">$400 la 2da unidad</p>
        </div>
        <button class= "boton-carrito">AÑADIR AL CARRITO</button>
        <br>
        <br>
    </article>
</div>
    </section>

<section> 
        <h2> 80% en la 2da unidad de alimentos seleccionados </h2>  
   
        <article>
            <img class="img-oferta" src="/img/oferta-80.jpg">
    </article>


<div class="div-ofertas">
    <article>
        <img class="img-oferta2" src ="/img/mermelada.jpg">
        <div class="div-precio">
            <h3 class="productos">Mermelada de frutilla <br>"La Campagnola"</h3> 
        </div>
        <br>
        <div class="div-ofertas1">
            <p class="precio">$800<p>
            <p class="precio-queda">$160 la 2da unidad</p>
        </div>
        <button class= "boton-carrito">AÑADIR AL CARRITO</button>
        <br>
        <br>
    </article>
</div>

<div class="div-ofertas">
<article>
    <img class="img-oferta2" src ="/img/hamburguesa.jpg">
    <div class="div-precio">
        <h3 class="productos">Hamburguesas<br>"Paladini"</h3> 
    </div>
    <br>
    <div class="div-ofertas1">
        <p class="precio">$500<p>
        <p class="precio-queda">$250 la 2da unidad</p>
    </div>
    <button class= "boton-carrito">AÑADIR AL CARRITO</button>
    <br>
    <br>
</article>
</div>

<div class="div-ofertas">
<article>
    <img class="img-oferta2" src ="/img/arvejas.jpg">
    <div class="div-precio">
        <h3 class="productos">Arvejas<br>"Granja del sol"</h3> 
    </div>
    <br>
    <div class="div-ofertas1">
        <p class="precio">$800<p>
        <p class="precio-queda">$400 la 2da unidad</p>
    </div>
    <button class= "boton-carrito">AÑADIR AL CARRITO</button>
    <br>
    <br>
</article>
</div>



    </section>

</main>

<footer>

</footer>
</body>
</html>