<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "register"}) %>

<body>
            <!-- header -->
            <%- include('partials/header-users') %>
            <!-- /header -->
    <main>
    <h1>¡Bienvenido a Supermercado Siete!</h1>
    <h3>Comprá o vende productos de supermercado desde tu casa</h3>
    
    <br>
        <form>
            <div class="contenedor">
                <label> Nombre:</label>
                        <input type="text" name="nombre" required></i>
                </div>
                    <br>
                    
                <div class="contenedor">
                <label> Apellido:</label>
                        <input type="text" name="apellido" required></i>
                </div>
                    <br>
    
                <div class="contenedor">
                <label> Email:</label>
                        <input type="email" name="email" required></i>
                </div>
                    <br>
    
                    <div class="contenedor">
                        <label>
                            Categoría:
                                <select name="categoria" required>
                                    <option value=""></option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Personal">Personal</option>
                                  </select>
                            </label>
                        </div>
                            <br>
    
                 <div class="contenedor">   
                <label>Contraseña:</label>
                        <input type="password" minlength="10" maxlength="20" placeholder="10 a 20 caracteres como maximo" requeried name="Contraseña" ></i>
                </div>    
                    <br>
    
                <div class="contenedor">
                <label> Imágen de perfil:</label>
                <br>
                        <input type="file" id="imagen" name="imagen" placeholder="Imagen de perfil" accept=".jpg, .png" required>
                </div>
                    <br>
    
                <div class="contenedor-boton">
                    <button type="submit" class="boton">Registrarme</button>
                </div>

            </form>
        
    </main>
    	<!-- footer -->
	    <%- include('partials/footer') %>
	    <!-- /footer -->