<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "register"}) %>

<body>
            <!-- header -->
            <%- include('partials/header-users') %>
            <!-- /header -->
    <main>
        <section class="register-content">
            <form action="/register" method="post" class="signup-form">
                <div class="control-formulario">
                    <input type="text" name="nombre-y-apellido" placeholder="Nombre y apellido" class="control-input-style">
                </div>
                <div class="control-formulario">
                    <input type="text" name="username" placeholder="Nombre de usuario" class="control-input-style"">
                </div>
                <div class="control-formulario">
                    <input type="email" name="email" placeholder="Email" class="control-input-style"">
                </div>
                <div class="control-formulario">
                    <input type="password" name="password" placeholder="Contraseña" class="control-input-style">
                </div>
                <div class="control-formulario">
                    <input type="number" name="nro-telefono" placeholder="Nro. de telefono" class="control-input-style"">
                </div>
                <div class="control-formulario">
                    <input type="number" name="documento" placeholder="Nro. de documento" class="control-input-style"">
                </div>
                <button type="submit" class="boton">Crear Cuenta</button>
            </form>
        </section>
    </main>
    	<!-- footer -->
	    <%- include('partials/footer') %>
	    <!-- /footer -->