<footer>
    <div class="footer">
        <img class ="logo" src = "/img/logo-proyecto.jpg">
        <br>
        <input class="barra-footer" type="email" placeholder="dejanos tu correo para recibir las ofertas..">
        <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
    </div>
    </footer>
    
    <br>
    
    <div class="contenedor-final">
    <div class="final">
        <h3 class="texto-final">Información útil</h3>
        <a href="/contacto"> <p class="texto-final2">Contacto</p> </a>
        <p class="texto-final2">Sobre nosotros</p>
    </div>
        <br>
    <div class="final">
        <h3 class="texto-final" >¿Como comprar?</h3>
        <p class="texto-final2">Métodos de pago</p>
        <p class="texto-final2">Como crear una cuenta</p>
    </div>
    <br>
    <div class="final">
        <h3 class="texto-final">Preguntas frecuentes</h3>
        <p class="texto-final2">Envíos</p>
    </div>
    </div>