<head>
    <LINK REL="stylesheet"  HREF="/css/common.css">      
    <% if (cssSheet!="") { %>
        <LINK rel="stylesheet" href="/css/<%= cssSheet %>.css">                         
    <% } %>               
    <LINK REL="stylesheet"  HREF="/css/estilos.css">     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
