<header class="header"> 
    <div class="compra">
        <a href="/"><img class ="logo" src = "/img/logo-proyecto.jpg"> </a>
        <br>
       <a href="/contacto"> <h4 class="tenes-dudas">                         ¿Tenés dudas? Podemos ayudarte  </h4></a>
    </div>
        <br>
</header>