<header class="header"> 
    <div class="compra">
        <a href="/"><img class ="logo" src = "/img/logo-proyecto.jpg"> </a>
        <br>
        <div>
            <input class="barra-navegacion" type="search" placeholder="que estás buscando?"> 
            <button class="boton-buscar"> <i class="fa-solid fa-magnifying-glass"></i> </button> 
        </div>    
        <a href="/user/login">
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="/carrito">
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
        </a>
        <a href="/productos/creacion_producto"><i class="fa-sharp fa-solid fa-upload"></i></a>
    </div>
    <br>
<hr />
    <nav class="nav"> 
    <ul type="none" class="nav-detalles"> 
        <li><i class="fa-solid fa-bars"></i> <a href="#">Categorías</a> </li>
        <li> <a href="#">Ofertas</a> </li>
        <li> <a href="#">Ofertas destacadas</a> </li>
    </ul>
    </nav>
</header>