<header class="header"> 
    <div class="compra">
        <img class ="logo" src = "/img/logo-proyecto.jpg">
        <br>
       <a href="/contacto"> <h4 class="tenes-dudas">                         ¿Tenés dudas? Podemos ayudarte  </h4></a>
    </div>
        <br>
</header>